.forecast__results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  .results__wrapper {
    text-align: center;
    .row {
      justify-content: center;
    }
  }
  .results__card {
    text-align: initial;
    .button-sunrise {
      display: inline-block;
      padding: 0.5rem 1rem;
      left: 50%;
      transform: translate(-50%, 50%);
      position: relative;
      z-index:2;
      box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.1);
    }
    .card__info {
      position: relative;
      text-align: center;
      padding:2rem 1.5rem;
      color: #fff;
      box-shadow:0 0 15px rgba(0,0,0,0.3);
      &.day {
        @include theme-gradients(day);
      }
      &.night {
        @include theme-gradients(night);
      }
      .button-close {
        color: $white;
        &:hover {
          color: $sunrise-first;
        }
      }
      img {
        width: auto;
        max-width:30%;
        display:block;
        margin:0 auto;
      }
    }
  }
}
