.forecast__search {
  text-align: center;
  .forecast__form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      flex: 1 1 auto;
      @include media(mq('sm'), 'min') {
        flex: 0 0 50%;
      }
      @include media(mq('lg'), 'min') {
        flex: 0 0 30%;
      }
    }
    .button-search {
      @include theme-gradients(day);
      color: $white;
      font-weight:400;
      text-transform: uppercase;
      &:hover {
        @include theme-gradients(night);
      }
      &:disabled {
        &:hover {
          @include theme-gradients(day);
        }
      }
    }
  }
}
