.game__controls {
  margin-top:2rem;
  margin-bottom:2rem;
  .game__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin:0 15px;
    }
  }
}
