.game__controls {
  margin-top:2rem;
  margin-bottom:2rem;
  .game__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-game {
      margin:0 15px;
      @include theme-gradients(day);
      border-color: $day-first;
      color:#fff;
      &:hover {
        @include theme-gradients(night);
        border-color: $night-first;
      }
    }
  }
}
