.game__records {
  justify-content: center;
  .game__log {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .log__wrapper {
      width: 50%;
      text-align: center;
      border-bottom:1px solid rgba($white, 0.3);
      &.log__attack {
        background: rgba(#cb2d3e, 0.5)
      }
      &.log__heal {
        background: rgba($grey, 0.5)
      }
      p {
        margin:0;
        padding:0.5rem 0;
        color: $white;
      }
    }
  }
  .log__player {
    text-transform: uppercase;
  }
  .modal__body {
    text-align: center;
  }
}
