.game__records {
  justify-content: center;
  margin-top: 2rem;
  .game__log {
    text-align: center;
    display: flex;
    justify-content: center;
    .log__wrapper {
      flex:0 0 100%;
      text-align: center;
      border-bottom:1px solid rgba($white, 0.3);
      padding: .5rem 1rem;
      @include media(mq('md'), 'min') {
        flex: 0 0 50%;
      }
      &.log__attack {
        background: rgba(#cb2d3e, 0.5)
      }
      &.log__heal {
        background: rgba($grey, 0.5)
      }
      p {
        margin:0;
        padding:0.5rem 0;
        color: $white;
      }
    }
  }
  .log__player {
    text-transform: uppercase;
  }
  .modal__body {
    text-align: center;
  }
}
