.game__controls {
  margin-top:2rem;
  margin-bottom:2rem;
  .game__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media(mq('md'), 'min') {
      flex-direction: row;
    }
    .button-game {
      width:100%;
      @include theme-gradients(day);
      border-color: $day-first;
      color:#fff;
      @include media(mq('md'), 'min') {
        width: auto;
        min-width:20%;
        margin:0 15px;
      }
      &:hover {
        @include theme-gradients(night);
        border-color: $night-first;
      }
    }
  }
}
