*, ::after, ::before {
    box-sizing: border-box;
}
html {
  min-height:100%;
  overflow:auto;
  font-weight:300;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin:0;
  background: rgb(239,248,255);
  background: linear-gradient(153deg, rgba(239,248,255,1) 0%, rgba(239,250,254,1) 50%, rgba(244,254,255,1) 100%);
  background-repeat: no-repeat;

  #app {
    position: relative;
    height:100%;
    width:100%;
    padding:0 15px;
  }
}
