:root {
  font-size: 15px;
  @include media(mq(lg), min) {
    font-size:16px;
  }
  @include media(mq(xl), min) {
    font-size: 18px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: auto;
}
html {
  min-height:100%;
  font-weight:300;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: rgb(239,248,255);
  background: linear-gradient(153deg, rgba(239,248,255,1) 0%, rgba(239,250,254,1) 50%, rgba(244,254,255,1) 100%);
  background-repeat: no-repeat;
  font-family: $primary;
  font-size: 1rem;

  #app {
    position: relative;
    padding-top:55px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
article, aside, figcaption, figure, hgroup, nav{
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

.container {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include make-container-max-widths();
  &--fluid {
    @extend .container;
    max-width: 100%;
  }
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}
img {
  width: auto;
  max-width: 100%;
}
