input {
  padding:0.75rem 1rem;
  border-color: rgba(0,0,0,0.1);
  color: $drk_blue;
}
button {
  cursor: pointer;
  &:disabled {
    opacity:0.5;
  }
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid;
  padding: .75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .15s ease-in,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover {
    -webkit-backface-visibility: hidden;
  }
  &:disabled {
    opacity: 0.5;
  }
}
.button-day {
  @include theme-gradients(day);
  color: $white;
  font-weight:400;
  text-transform: uppercase;
  &:hover {
    color: $white;
    @include theme-gradients(night);
  }
  &:disabled {
    &:hover {
      @include theme-gradients(day);
    }
  }
}

.button-night {
  @include theme-gradients(night);
  color: $white;
  font-weight:400;
  text-transform: uppercase;
  &:hover {
    color: $white;
    @include theme-gradients(day);
  }
  &:disabled {
    &:hover {
      @include theme-gradients(night);
    }
  }
}

.button-search {
  line-height:1.15;
  vertical-align: inherit;
  border-color: rgba(0,0,0,0.1);
}

.button-bare {
  border:none;
  background:transparent;
  padding:0;
  color: #58a5ff;
  &:hover {
    color: $night-first;
  }
}
